@model TaskManagementSystem.Domain.Entities.Task

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Create Task</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDateTime, new { htmlAttributes = new { placeholder = "yyyy-MM-dd", @class = "form-control" }})
                @Html.ValidationMessageFor(model => model.StartDateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDateTime, new { htmlAttributes = new { placeholder = "yyyy-MM-dd", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDateTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Type, "Task type" , htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="Type" name="Type">
                    
                    @for (int i = 0; i < ViewBag.typeLength; i++)
                    {
                        <option value=@i>@ViewBag.types[i]</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, "Task status", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="Status" name="Status">

                    @for (int i = 0; i < ViewBag.statLength; i++)
                    {
                        <option value=@i>@ViewBag.statuses[i]</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.User, "User", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="UserId" name="UserId">
                    @foreach (var user in ViewBag.users)
                    {
                        <option value=@user.ID>@user.Username</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Project, "Project", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="ProjectId" name="ProjectId">
                    @foreach (var project in ViewBag.projects)
                    {
                        <option value=@project.ID>@project.Name</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("List All Tasks", "ListAll", null, new { @class = "btn btn-default" })
</div>
